@model GhyomAssignment.Models.NWC_Default_Slice_Values

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NWC_Default_Slice_Values</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Default_Slice_Values_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Default_Slice_Values_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Condtion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Default_Slice_Values_Condtion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Water_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Default_Slice_Values_Water_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Sanitation_Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Default_Slice_Values_Sanitation_Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Reasons)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NWC_Default_Slice_Values_Reasons)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
