@model IEnumerable<GhyomAssignment.Models.NWC_Default_Slice_Values>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Condtion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Water_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Sanitation_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NWC_Default_Slice_Values_Reasons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Default_Slice_Values_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Default_Slice_Values_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Default_Slice_Values_Condtion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Default_Slice_Values_Water_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Default_Slice_Values_Sanitation_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Default_Slice_Values_Reasons)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
