@model GhyomAssignment.Models.NWC_Subscription_File

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف</h1>

<h3>هل انت متأكد من حذف هذا الاشتراك ؟</h3>
<div>
   <hr />
    <dl class="row">


        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NWC_Subscriber_File.NWC_Subscriber_File_Id)
        </dd>
        <dt class="col-sm-2">
            رقم المشترك
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NWC_Rreal_Estate_Types.NWC_Rreal_Estate_Types_Name)
        </dd>
        <dt class="col-sm-2">
            نوع العقار
        </dt>


        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NWC_Subscription_File_Unit_No)
        </dd>
        <dt class = "col-sm-2">
           عدد الوحدات
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NWC_Subscription_File_Is_There_Sanitation)
        </dd>
        <dt class = "col-sm-2">
            هل يوجد صرف صحي ؟
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NWC_Subscription_File_Last_Reading_Meter)

        </dd>
        <dt class = "col-sm-2">
            اخر قراءة للعداد
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NWC_Subscription_File_Reasons)
        </dd>
        <dt class = "col-sm-2">
            ملاحظات
        </dt>
       
       
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة الي القائمة</a>
    </form>
</div>
