@model IEnumerable<GhyomAssignment.Models.NWC_Subscription_File>

@{
    ViewData["Title"] = "Index";
}

<h1>الاشتراكات</h1>

<p>
    <a asp-action="Create">انشاء جديد</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                عدد الوحدات
            </th>
            <th>
                هل يوجد صرف صحي
            </th>
            <th>
                اخر قراءة العداد
            </th>
         
            <th>
                رقم المشترك
            </th>
            <th>
                نوع العقار
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Unit_No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Is_There_Sanitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscription_File_Last_Reading_Meter)
            </td>
       
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Subscriber_File.NWC_Subscriber_File_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NWC_Rreal_Estate_Types.NWC_Rreal_Estate_Types_Name)
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash" style="color:red">
                            حذف
                        </i>
                    </a>|
                <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square">
                            تعديل
                        </i>
                </a> |
              
               
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-circle-info">
                            التفاصيل
                        </i>
                    </a> 
            </td>
        </tr>
}
    </tbody>
</table>
